openai>=1.0.0
pysbd
python-dotenv
#rich
trafilatura[all]
youtube-transcript-api

# skip if this is a pain to install, you lose high quality file extraction (mostly PDF).
textract
# optional faster, better language detection
cchardet
