beautifulsoup4
openai
pysbd
python-dotenv
youtube-transcript-api

# skip if this is a pain to install, you lose high quality file extraction (mostly PDF).
textract

# skip If this is a pain to install, you may lose some text quality and download performance
trafilatura
